
<div class="content-wrap">
  <br>
  <div class="container youplay-content">

    <div class="col-md-9">
      <!--Inicio de Edicion para el periodo 1-->
      {{#each allTodoP1}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 1-->

      <!--Inicio de Edicion para el periodo 2-->
      {{#each allTodoP2}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 2-->

      <!--Inicio de Edicion para el periodo 3-->
      {{#each allTodoP3}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 3-->

      <!--Inicio de Edicion para el periodo 4-->
      {{#each allTodoP4}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 4-->

      <!--Inicio de Edicion para el periodo 5-->
      {{#each allTodoP5}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 5-->

      <!--Inicio de Edicion para el periodo 6-->
      {{#each allTodoP6}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 6-->

      <!--Inicio de Edicion para el periodo 7-->
      {{#each allTodoP7}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 7-->

      <!--Inicio de Edicion para el periodo 8-->
      {{#each allTodoP8}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 8-->

      <!--Inicio de Edicion para el periodo 9-->
      {{#each allTodoP9}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 9-->

      <!--Inicio de Edicion para el periodo 10-->
      {{#each allTodoP10}}
      <!-- Billing Information -->
      <h2 class="mt-0">Modificar Calificacion</h2>
      <form action="/allcalificaciones/edit/{{id_calificaciones}}/{{id_matricula}}/{{grado}}/{{id_escuela}}/{{id_materias}}" method="post">

        <div class="row">
          <div class="col-md-12">
            <p>Periodo:</p>
            <div class="youplay-input">
              <input type="text" value="{{periodo}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Grado:</p>
            <div class="youplay-input">
              <input type="text" value="{{grado}}" readonly>
            </div>
          </div>
          <div class="col-md-12">
            <p>Calificaciones:</p>
            <div class="youplay-input">
              <input type="number" value="{{calificaciones}}" name="calificaciones">
            </div>
          </div>
        </div>
        <!-- /Billing Information -->
        <div class="align-right">
          <button class="btn btn-lg">
            Guardar
          </button>
        </div>
      </form>
      {{/each}}
      <!--Fin de Edicion para el periodo 10-->

    </div>
    <!-- ******************************************************************************** -->
    <!-- Right Side -->
    <!-- <div class="col-md-3"> -->
    <div class="">
      <!-- Side Popular News -->
      <div class="side-block">
        <!--<h4 class="block-title">Popular Games</h4>-->
        <div class="block-content p-0">
          <!-- Single News Block -->
          <div class="col-lg-3 col-md-4 ">
                <div class="news-one">
                    <a href="/contacto" class="angled-img">
                        <div class="">
                            <img src="/images/light/Anuncio1.png" alt="Anunciate en uvlum" width="600" height="300">
                        </div>
                    </a>
                </div>
            </div>
          <!-- /Single News Block -->
        </div>
      </div>
      <!-- /Side Popular News -->
    </div>
    <!-- /Right Side -->

  </div>

</div>
