<br><br><br><br><br>
<div class="container youplay-content">

  <div class="row">

    <div class="col-md-9">

      <div class="row">
        <div class="col-md-9">
          <h4>Preguntas publicadas</h4>
        </div>
      </div>

      <table class="youplay-messages table table-hover">
        <tbody>
          {{#each myquestion}}
          <tr>
            <td class="message-from">
              <a href="/questions/answer/{{id_pregunta}}/{{../idtok.token}}" class="message-from-name" title="Titulo">{{titulo}}</a>
              <br>
              <span class="date">{{moment created_at format="YYYY-MM-DD"}} - {{timeago created_at}}</span>
            </td>
          </tr>
          {{else}}
            <p>Por el momento no haz publicado ninguna pregunta.</p>
          {{/each}}
        </tbody>
      </table>
      <div class="pagination pagination-centered">
        <ul class="pagination">
          <li><a href="/profile/myquestion/{{user.id}}/{{idtok.token}}">Primero</a></li>
          <li id="demo"></li>
          <li><a href="/profile/myquestion/{{user.id}}/{{questionlast.last}}/{{idtok.token}}">Ultimo</a></li>
        </ul>
      </div>
    </div>

  </div>

</div>
<script>
var text = "";
var i;
var p = {{totalpag.pagina}}
for (i = 1; i < p; i++) {
  text += "<a href='/profile/myquestion/{{user.id}}/"+[i]+"/{{idtok.token}}'>"+[i]+"</a>";
  //document.body.innerHTML += "<a href='"+[i]+"'>el numero es</a>" + i;
}
document.getElementById("demo").innerHTML = text;
</script>
